<script type="text/javascript">
    function AddsmstopUpSave() {
        var smsCount = jQuery("#txtTopupSMS").val();
        if (smsCount != null && smsCount != "") {
            var ajaxUrl = '@Url.Action("AddsmsTopUp", "Dashboard", new { Textvalue = "ValuesCollection" },Request.Url.Scheme)';
				ajaxUrl = ajaxUrl.replace("ValuesCollection", smsCount);
                jQuery.ajax({
                    url: ajaxUrl,
                    type: "Get",
                    contentType: "application/html; charset=utf-8",
                    dataType: 'html'
                }).success(function (result) {
                    alert(result);
                     jQuery('#divSMSTopupModal').modal('toggle');
                }).error(function (xhr, status) {alert(status);});

        }
    }
     function SendMessagesoutstaning() {
            var ajaxUrl = '@Url.Action("SendMessagesoutstaning", "Dashboard",Request.Url.Scheme)';
                jQuery.ajax({
                    url: ajaxUrl,
                    type: "Get",
                    contentType: "application/html; charset=utf-8",
                    dataType: 'html'
                }).success(function (result) {
                    alert(result);
                     jQuery('#divOutstandingSendMessages').modal('toggle');
                }).error(function (xhr, status) {alert(status);});
    }
</script>

@*modal popup Collection*@
<div class="modal fade" id="divSMSTopupModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Topup SMS ?</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="form-group row">
                        <input id="txtTopupSMS" class="form-control" placeholder="Enter Topup SMS" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ID="btnAddTopUp" onclick="AddsmstopUpSave()" class="btn btn-default">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="divOutstandingSendMessages" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Send SMS to All Members Outstanding for the Month ?</h4>
            </div>
            <div class="modal-footer">
                <button ID="btnSendMessagesoutstaning" onclick="SendMessagesoutstaning()" class="btn btn-default">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="divGenerateCashUpReport_FromDashboard" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Would you like to generate daily Cashup report ?</h4>
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("GenerateCashup_Report", "Dashboard")" class="btn btn-default">Yes</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
