@model Funeral.Model.RegenerateBillingModal
@{
    using (Html.BeginForm("SaveRegenerateBilling", "SchemaPayment", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.parlourId)
        <div id="RegenerateBillingModalPopUp" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="DoCModalLabel">Regenerate Billing</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label>Premium due date</label>
                                        @Html.TextBoxFor(x => x.PremiumDueDate, "{0:dd MMM yyyy}", new { @id = "txtPremiumDueDate", @class = "form-control DatepickerSelection", @autocomplete = false ,@required=true})
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Reference Number</label>
                                        @Html.TextBoxFor(x => x.ReferenceNumber, new { @type = "text", @id = "txtRefNumber", @class = "form-control",@readonly=true,@required=true })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }
}