<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <pages enableEventValidation="false" />
    <machineKey validationKey="2EEA416CEFC6D6BE856ED57B97FB9CA7DFACE17C073125949A1D682C80A44BB2AD887DDDC13DBFB0954F1000FEE5757E99693F222F8E28CAA2E6DAB8C4F99E0C" decryptionKey="877478B2F33A74226ABEF55FDCC1A76E43F1BBEA6241A592" validation="SHA1" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
      <add verb="*" path="wcp.axd" type="Neodynamic.SDK.Web.WebClientPrint, Neodynamic.SDK.WebClientPrint" />
    </httpHandlers>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <remove assembly="Microsoft.VisualStudio.Web.PageInspector.Loader, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="52428800" />
    <authentication mode="Forms">
      <!--//2097151--> 
      <forms loginUrl="~/admin/Login.aspx " timeout="1440" />
    </authentication>
    <httpModules>
      <clear />
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" />
    </httpModules>
    <sessionState timeout="1440" mode="InProc" />
  </system.web>
  <connectionStrings>
    <!--<add name="FuneralConnection" connectionString="Data Source=TCMSERVER\SQLDEV;Initial Catalog=ApplicationDataUIS_Azure;User Id=sa; Password=hemant@123;Connect Timeout=120;" providerName="System.Data.SqlClient" />-->
    <!--<add name="FuneralConnection" connectionString="Data Source=129.232.221.42\MSSQLUNP2014;Initial Catalog=ApplicationDataUIS_Azure;User Id=Charlesql; Password=Charlesql123;Connect Timeout=240;" providerName="System.Data.SqlClient" />-->
     <add name="FuneralConnection" connectionString="Data Source=129.232.221.42\MSSQLUNP2014;Initial Catalog=ApplicationDataARL_UAT;User Id=Charlesql; Password=mingas2020_123SQL;Connect Timeout=240;" providerName="System.Data.SqlClient" />
    <!--<add name="FuneralConnection" connectionString="Data Source=129.232.221.42\MSSQLUNP2014;Initial Catalog=ApplicationData;User Id=uisweb; Password=u15w36!Unplugg1t!;Connect Timeout=240;" providerName="System.Data.SqlClient" />-->
    <!--<add name="FuneralConnection" connectionString="Server=tcp:unp001prod.database.windows.net,1433;Initial Catalog=ApplicationDataUIS;Persist Security Info=False;User ID=unpluggitsaz;Password=Unplugg1t@#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.webServer>
    <httpRedirect enabled="false" destination="" httpResponseStatus="Permanent" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="WCP" verb="*" path="wcp.axd" type="Neodynamic.SDK.Web.WebClientPrint, Neodynamic.SDK.WebClientPrint" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="http" maxBufferPoolSize="3147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
       <endpoint address="http://localhost:62479/FuneralServices.svc" binding="basicHttpBinding" bindingConfiguration="http" contract="FuneralServiceReference.IFuneralServices" name="http"/>
      <!--<endpoint address="https://uispolicy.azurewebsites.net/uisservice/FuneralServices.svc" binding="basicHttpBinding" bindingConfiguration="http" contract="FuneralServiceReference.IFuneralServices" name="http" />-->
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ReportEmailSenderId" value="noreply@unpluggit.co.za" />
    <add key="ReportEmailSenderId1" value="noreply@unpluggit.co.za" />

    <!--SSRS Configuraton setting-->
    <!--<add key="SSRSUserName" value="Mosys" />
    <add key="SSRSPassword" value="u15w36!Unplugg1tRP!" />
    <add key="SSRSDomain" value="129.232.221.42" />
    <add key="SSRSUrl" value="http://129.232.221.42/ReportServer_MSSQLUNP2014" />
    <add key="SSRSFolderName" value="ARL" />-->
    
    <add key="SSRSUserName" value="Mosys" />
    <add key="SSRSPassword" value="u15w36!Unplugg1tRP!" />
    <add key="SSRSDomain" value="129.232.221.42" />
    <add key="SSRSUrl" value="http://129.232.221.42/ReportServer_MSSQLUNP2014" />
    <add key="SSRSFolderName" value="ARL" />
    <!--for Azure Server-->
    <!--http://129.232.187.26/ReportServer-->
    <add key="ClaimDocumentSender" value="noreply@unpluggit.co.za" />
    <!--<add key="ClaimDocumentSender" value="noreply@truecodemaster.com" />-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845DCD8080CC91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="noreply@unpluggit.co.za">
        <!--<network host="smtp.gmail.com" port="587" enableSsl="true" userName="truecodetesting@gmail.com" password="truecode@123" defaultCredentials="false" />-->
        <network host="smtp.office365.com" port="587" enableSsl="true" userName="noreply@unpluggit.co.za" password="Maf2020!@#" defaultCredentials="false" />
        <!--<network host="smtp.office365.com" port="587" enableSsl="true" userName="noreply@unpluggit.co.za" password="Jal23870" defaultCredentials="false" />-->
        <!--<network host="mail.unpluggit.co.za" port="587" enableSsl="true" userName="vusim@unpluggit.co.za" password="737Unplugg1t!" defaultCredentials="false" />-->
      </smtp>
    </mailSettings>
    <defaultProxy enabled="true" useDefaultCredentials="true" />
  </system.net>
</configuration>
