<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="FuneralConnection" connectionString="Data Source=UNPLUGGITSOLUTI\UNPDB001;Initial Catalog=DevData;User Id=testing; Password=testing;"></add>-->
    <!--<add name="FuneralConnection" connectionString="Data Source=TRUSHA\SQLEXPRESS2012;Initial Catalog=DevData;User Id=sa; Password=hemant123;Connect Timeout=120;" providerName="System.Data.SqlClient"></add>-->
    <add name="FuneralConnection" connectionString="Data Source=129.232.221.42\MSSQLUNP2014;Initial Catalog=ApplicationDataARL_UAT;User Id=Moshoeshoe; Password=Moshoeshoe;Connect Timeout=240;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>